@import 'purecss';
@import './variables.css';
@import './colors.css';

html, body {
  height: 100%;
}

body {
  font-family: $performance-font;
  background-color: $gray-darker;
}

#app {

  h1, h2, h3, h4, h5, h6 {
    color: $gray-darker;
    font-family: $preferred-font;
  }

  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

}