<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetsPath }}/commons.css">
    {% include "_includes/icons.html" %}
    {% block styles %}

    {% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>
  <body>
    <div id="app">{% block content %}{% endblock %}</div>
    {% if data %}
      <script>
        window.__data = {{ data | json | safe }}
      </script>
    {% endif %}
    <script src="{{ assetsPath }}/commons.js"></script>
    {% block scripts %}

    {% endblock %}
    {% if __DEVELOPMENT__ %}
    <script src="/reload/reload.js"></script>
    {% endif %}
  </body>

</html>
