@import '../styles/variables.css';
@import '../styles/colors.css';
@import '../styles/shared.css';

#content {

  margin: 0;
  padding: 50px 2em 0;
  line-height: 1.6em;

  background-color: $gray-lighter;
  width: 100%;
  height: auto;

  position: relative;
  transition: all 0.25s;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

}
