// @import '../styles/crcd-icons';

@import '../mdl-custom/variables';

// html, body {
//   font-family: 'Roboto', 'Helvetica', sans-serif;
// }

.#{$app} {

  // & prefixed classes get app name

  &-avatar {
    background-color: $layout-text-color;
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  &-layout &-header .mdl-textfield {
    padding-top: 27px;
  }

  &-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(255, 255, 255, 0.70);
  }

  &-drawer {
    border: none;
  }
  // /* iOS Safari specific workaround */ // TODO: Why?
  // &-drawer .mdl-menu__container {
  //   z-index: -1;
  // }
  // &-drawer &-navigation {
  //   z-index: -2;
  // }
  // /* END iOS Safari specific workaround */
  &-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  &-drawer-header {
    // background-image: url('/images/drawer_bg.png');
    background-repeat: no-repeat;
    // border: 1px solid $layout-drawer-bg-color;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 16px;
    height: 151px;
    .email {
      font-weight: 200;
    }
  }
  &-avatar-dropdown {
    .name {
      display: block;
    }
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  &-navigation {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  &-layout &-navigation .mdl-navigation__link {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    // color: rgba(255, 255, 255, 0.56);
    // font-weight: 500;
    &--current {
      background-color: $layout-drawer-navigation-link-active-background !important;
      color: $layout-drawer-navigation-link-active-color;
    }
  }
  &-layout &-navigation .mdl-navigation__link {
    // background-color: $color-primary-dark;
    // color: $color-primary-contrast;
    .material-icons, .#{$app}-icons {
      font-size: 32px;
      // color: rgba(255, 255, 255, 0.56);
      margin-right: 24px;
    }
  }

  &-content {
    // max-width: 1200px;

    .page-content {
      padding: 16px;
    }

  }
}
