@import '../styles/variables.css';
@import '../styles/colors.css';

/*Nav styles*/
.navigation {

  background-color: $gray-darker;
  width: $navigation-width;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 100px;

  li {list-style-type: none;}

  a { color: white; text-decoration: none; }

  span {
    font: bold 12px/48px $preferred-font;
    display: block;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.4s;
  }

  .material-icons {
    display: block;
    width: 50px;
    float: left;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
  }

  .is-current {
    background-color: $rgba-primary-0;
  }

}

/* Hide the checkbox */
#toggle-nav {
  display: none;
}

#toggle-nav-label {
  /* background-color: rgba(255, 255, 255, 0.5); */
  color: black;
  font: bold 14px $preferred-font;
  /* text-align: center; */
  display: block;
  padding: 16px 16px 16px 32px;
  width: $navigation-width;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.25s;
  opacity: 1;

  .material-icons {
    position: relative;
    // left: 32px;
    top: 6px;
    display: inline-block;
    width: 22px;
    font-size: 22px;
    line-height: 22px;
  }

}


/*Animation controls using checkbox hack*/
/*Animate content area to the right*/
#toggle-nav:checked ~ #content { transform: translateX($navigation-width); }
#toggle-nav:checked ~ #toggle-nav-label { transform: translateX($navigation-width); }
/*Animate links from right to left + fade in effect*/
#toggle-nav:checked ~ .navigation span { opacity: 1; transform: translateX(0);}

/*Adding delay to link animation - in multiples of .08s*/
/*One can use jQuery also for creating the delayed effect. But I will stick to manual CSS for this walkthrough.*/
#toggle-nav:checked ~ .navigation li:nth-child(1) span {transition-delay: 0.08s;}
#toggle-nav:checked ~ .navigation li:nth-child(2) span {transition-delay: 0.16s;}
#toggle-nav:checked ~ .navigation li:nth-child(3) span {transition-delay: 0.24s;}
#toggle-nav:checked ~ .navigation li:nth-child(4) span {transition-delay: 0.32s;}
#toggle-nav:checked ~ .navigation li:nth-child(5) span {transition-delay: 0.40s;}


@media (min-width: $screen-md-min) {
  #toggle-nav-label {
    opacity: 0; transform: translateX($navigation-width);
  }
  #content {
    transform: translateX($navigation-width);
  }
  .navigation span {
    opacity: 1; transform: translateX(0);
  }
}
