@import '../styles/variables.css';
@import '../styles/colors.css';
@import '../styles/shared.css';

html, body {
  height: 100%;
  background-color: $gray-lighter;
}

#app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crcd-login {

  width: 480px;
  height: 300px;

  .crcd-logo {
    background-image: url('/images/crcd_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    min-height: 80px;
    margin-bottom: 40px;
  }
}
